@import '../../style/main.scss';

.aboutContainer {
    position: relative;
    background-image: url('../../picture/painsFour.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    padding: 0 5vw;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden; // Ajouté pour masquer les débordements

    // Animation de l'image de fond
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        animation: scaleAnimation 10s ease-in-out infinite alternate;
        z-index: 0;
    }
  
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.237);
        z-index: 1;
    }
  
    .content {
        // position: relative;
        z-index: 2;
        max-width: 550px;
        padding: 0 10px;
        opacity: 0;
        transform: translateY(80px);
        animation: fadeInUp 4s ease-out forwards;
        background-color: rgba(174, 165, 165, 0.242);
        h1 {
            margin: 10px 0;
            color: $color2;
            font-size: clamp(35px, 5vw, 43px);
            font-weight: 100;
            span {
                color: $color1;
            }
        }
      
        p {
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.5;
        }
        
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Définition de l'animation */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Finalement visible */
        transform: translateY(0); /* Finalement en place */
    }
}
