@import '../../style/main.scss';

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &Top, &Bottom {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color2; // Utilisez la couleur de votre choix
      transition: transform 1.3s ease-in-out;
    }
  
    &Top {
      top: 0;
    }
  
    &Bottom {
      bottom: 0;
    }
  
    &Logo {
      position: relative;
      z-index: 10000;
      max-width: 200px;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
  
  .hide {
    .loaderTop {
      transform: translateX(-100%);
    }
    .loaderBottom {
      transform: translateX(100%);
    }
    .loaderLogo {
      opacity: 0;
    }
  }