.logoSlider {
    width: 200%;
    overflow: hidden;
    background: #f0f0f063; // Ajoutez une couleur de fond si nécessaire
    padding: 20px 0;
  }
  
  .logoTrack {
    display: flex;
    animation: scroll 30s linear infinite;
    width: fit-content; // S'ajuste au contenu
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  .logoItem {
    flex: 0 0 auto;
    margin: 0 20px;
    text-align: center;
  
    img {
      width: 200px; // Ajustez selon vos besoins
      height: auto;
    }
  
    p {
      margin-top: 10px;
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }