@import '../../style/main.scss';
@font-face {
  font-family: 'dragon';
  src: url('../../fonts/dragonwick-fg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
nav {
  justify-items: start;
  align-items: center;
  padding: 10px 30px;
  margin: 10px auto;
  max-width: 1200px;
  .containerLogo {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-top: 1px solid #a39797; /* Couleur et style du trait */
      margin: 0 10px; /* Espacement autour des traits */
    }
  
    h2 {
      font-size: 30px;
      padding: 10px 5px;
      font-family: 'dragon', sans-serif;
      font-weight: 100;
      letter-spacing: 10px;
      // white-space: nowrap; /* Empêche le texte de se wrapper */
  
      span {
        font-family: 'dragon', sans-serif;
        color: rgb(255, 243, 0);
      }
      @media (max-width:400px) {
        letter-spacing: normal;
      }
    }
  
    img {
      width: 130px;
    }
  }
  

  .burgerButton {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menuList {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 13px;
        padding: 10px 15px;
        transition: color 0.3s ease;
        letter-spacing: 1px;
        font-weight: 500;
        &:hover {
          color: $color2;
        }

        &.active {
          color: $color2; /* Vert pour l'onglet actif */
        }
      }
    }
  }

  

  /* Media query pour les écrans inférieurs à 1000px */
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;

    .menuList {
      display: none; /* Cacher le menu classique par défaut */
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        text-align: center;
      }
    }

    .menuList.open {
      display: flex; /* Afficher le menu burger lorsqu'il est ouvert */
    }

    .burgerButton {
      display: block; /* Afficher le bouton du menu burger */
    }

    .callButton {
      justify-self: center;
    }
  }
}
