@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.min.css';
footer.section2 {
  background-color: black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0 50px;
}
footer.section2 li {
  list-style: none;
}
footer.section2 .part1 {
  color: white;
  margin: auto;
}
footer.section2 .part1 .logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer.section2 .part1 .logo-part img {
  width: 70px;
}
footer.section2 .part1 .adress {
  text-align: left;
  margin-bottom: 20px;
}
footer.section2 .part1 .adress h3 {
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: clamp(0.5rem, 2vw + 1rem, 1rem);
}
footer.section2 .part1 .adress p {
  letter-spacing: 2px;
}
footer.section2 .part1 .adress a {
  color: white;
  text-decoration: none;
}
footer.section2 .part1 .adress a:hover, footer.section2 .part1 .adress a:focus {
  text-decoration: underline;
}
footer.section2 .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
footer.section2 .part2 .horaires .realiseParContainer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px; /* Espace entre le texte et l'image */
  color: white;
  font-style: italic;
}
footer.section2 .part2 .horaires .logoImage {
  width: auto; /* Ajustez selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
  vertical-align: middle;
}
footer.section2 .part2 .horaires img {
  width: 100px;
}
footer.section2 .part2 .horaires .title {
  text-transform: uppercase;
  color: #FFC107;
  font-weight: 700;
  margin-bottom: 20px;
}
footer.section2 .part2 .horaires dl dt, footer.section2 .part2 .horaires dl dd {
  line-height: 25px;
}
footer.section2 .part2 .horaires dl dt {
  text-transform: uppercase;
  color: #FFC107;
  font-weight: 700;
  background: rgba(220, 220, 220, 0.3);
  padding-left: 9px;
}
footer.section2 .part2 .horaires dl dt:not(:first-of-type) {
  margin-top: 10px;
}
footer.section2 .part2 .horaires dl dd {
  margin-left: 0;
  color: white;
}
footer.section2 .part2 .horaires .upper {
  text-transform: uppercase;
  color: #FFC107;
  font-weight: 700;
  background: rgba(220, 220, 220, 0.3);
}
footer.section2 .part2 .horaires .liRed {
  color: rgba(255, 0, 0, 0.715);
  font-weight: 800;
}
footer.section2 .part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: white;
}
footer.section2 .part3 img {
  width: 200px;
  padding: 20px;
}
footer.section2 .part3 p {
  font-weight: 700;
  padding-bottom: 30px;
}
@media (max-width: 710px) {
  footer.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.section2 p, footer.section2 h3 {
    text-align: center;
  }
}/*# sourceMappingURL=footer.module.css.map */