/* h1{
  font-size: 30px;
  color: red;
}
ul{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  list-style: none;
}
.topBanner{
  height: 50px;
  background-color:rgb(59,170,52);
} */
